<div class="d-flex justify-content-center">
  <div class="container-sm">
    <div class="form-group row">
      <h3>Create</h3>
      <div class="col-sm-2">
        <br>
        <input type="text" class="form-control" placeholder="Month" [(ngModel)]="data[c].data.dates.month">
        <br>
        <input type="text" class="form-control" placeholder="Day" [(ngModel)]="data[c].data.dates.day">
        <br>
        <input type="text" class="form-control" placeholder="Name(s)" [(ngModel)]="data[c].data.namedays.hu">
        <br>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-10 ">
        <button (click)="create()" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
