<div class="container-sm">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tegnap</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" placeholder="Hónap" [(ngModel)]="data[c].data.dates.month">
      <input type="text" class="form-control" placeholder="Nap" [(ngModel)]="data[c].data.dates.day">
      <input type="text" class="form-control" placeholder="Nevek (','-vel elválasztva)" [(ngModel)]="data[c].data.namedays.hu">
      <br>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <div class="col-sm-10 ">
      <button (click)="checklogin()" class="btn btn-primary">Update</button>
    </div>
  </div>
</div>

