<div class="d-flex justify-content-center">

    <table class="table table-striped w-50">
      <thead>
        <tr>
          <th class="col-sm-5">Month</th>
          <th class="col-sm-5">Day</th>
          <th class="col-sm-5">Nameday(s)</th>
          <th class="col-sm-5">Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let a of data">
        <tr>
          <td>{{a.data.dates.month}}.</td>
          <td>{{a.data.dates.day}}.</td>
          <td>{{a.data.namedays.hu}}</td>
          <td><button (click)="delete(a)" class="btn btn-primary">Delete</button></td>
        </tr>
      </tbody>
    </table>

</div>
  
