<div style="text-align:center">

  <div class="container-sm">

    <div class="form-group row" *ngFor = "let a of data">
      <label class="col-sm-2 col-form-label">Tegnap</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="{{a.data.dates.month}}" [(ngModel)]="a.data.dates.month">
        <input type="text" class="form-control" placeholder="{{a.data.dates.day}}" [(ngModel)]="a.data.dates.day">
        <input type="text" class="form-control" placeholder="{{a.data.namedays.hu}}" [(ngModel)]="a.data.namedays.hu">
        <br>
      </div>
    </div>
        <br>
        <div class="form-group row">
          <div class="col-sm-10 ">
            <button (click)="update()" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>

    </div>
